$color-white: #fff;
$color-black: #000;

$color-grey-dark: #121212;
$layer: rgba(255, 255, 255, 0.05);

// Palette
$color-green-sea: #44af69;
$color-orange-tangering: #fcab10;
$color-white-bone: #ddd8c4;
$color-red-vivid: #dc602e;
$color-blue-diamond: #bcf4f5;

