.app {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}

header {
  align-items: center;
  background-color: $layer;
  border: 1px solid $layer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 100%;

  .app-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .app-logo {
    margin-bottom: -50px;
    width: 50%;
    max-width: 250px;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.8rem;
  width: 100%;
  flex: 1;

  .article-result {
    width: 100%;
    border: 1px solid $color-white;
    height: 6rem;
    margin: 2rem 0;
  }

  .article-input {
    background-color: $layer;
    border: 1px solid $layer;
    color: $color-white;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .article-submit {
    background-color: $blue-layer;
    border: 1px solid $color-blue-diamond;
    color: $color-white;
    font-size: 1.1rem;
    margin-top: 2rem;
    padding: 0.3rem 0.6rem;
    width: 50%;
  }
}
