.app {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
}

header {
  align-items: center;
  background-color: $layer;
  border: 1px solid $layer;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 50px;

  .app-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .app-logo {
    margin-bottom: -50px;
    width: 50%;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;

  .article-input {
    background-color: $layer;
    border: 1px solid $layer;
    height: 2rem;
    text-align: center;
    width: 100%;
  }
}
